<% content_for :title, "New order exception" %>

<h1>New order exception</h1>

<%= render "form", order_exception: @order_exception %>

<br>

<div>
  <%= link_to "Back to order exceptions", order_exceptions_path %>
</div>
